:host {
  display: block;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 390px;
  border-bottom: 2px solid #ec5f17;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  