<div class="footer">
	<div class="footer-wrapper">
	  <div class="footer-tags">
		<div class="tags"><a href="#">Mundo</a> &nbsp;<i class="fas fa-angle-right"></i> </div>
  
		<div class="tags"><a href="#">Europa</a> &nbsp;<i class="fas fa-angle-right"></i> </div>
  
		<div class="tags"><a href="#">Portugal</a>&nbsp; <i class="fas fa-angle-right"></i> </div>
  
		<div class="tags"><a href="#">Porto</a> &nbsp;<i class="fas fa-angle-right"></i> </div>
		<div class="tags"><a href="#">Porto</a> </div>
	  </div>
	</div>
	<app-sitemap></app-sitemap>
	<div class="footer-copyright">
	  <span>
		© 2020 AccuWeather, Inc. "AccuWeather" e o design do sol são marcas
		comerciais registadas da AccuWeather, Inc. Todos os direitos reservados.
	  </span>
	  <h4> Termos de utilização | Política de Privacidade | Política de cookies | Divulgação TAG </h4>
	</div>
  </div>