*{
  box-sizing: border-box;
}
.footer {
  bottom: 0;
  max-width: 100%;
}
  
.footer-tags {
  display: flex;
  justify-content: left;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  background-color: white;
  height: 2rem;
  line-height: 2rem;
  font-size: 12px;
  max-width: 100%;
  }
  
  .tags {
    margin-left: 1rem;
  }

  a {
    text-decoration: none;
    color: gray;
  }

  .fa-angle-right{
    color: gray;
  }
  
  .footer-copyright {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    color: lightslategray;
    font-size: 12px;
  }

  