.hourly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 10px;
  background-color: white;
  border-top: 1px solid whitesmoke;
  border-left: 2px solid orangered;
  margin: 10px auto;
}

.hourly > * {
  flex: 1;
}

.date {
  display: flex;
  flex-direction: column;
}
  
.date span {
  color: lightgray;
}
    
img {
  width: 50px;
  height: auto;
}

.temp {
  font-size: 24px;
}

.real-feel {
  font: 12px;
}
  
.fa-tint {
  color: lightgray;
}