<div class='container'>
    <div class='hourly' *ngFor="let hourly of weather">
        <div class="date"> 
            {{ hourly.hour| date:'HH'}} hs
            <span>{{ hourly.hour | date: 'dd/MM'}}</span>
        </div>
        <div>
            <img src="http://openweathermap.org/img/w/{{hourly.weather[0].icon}}.png" alt="">
        </div>
        <div class="temp">{{hourly.temp}}º</div>
        <div class="real-feel">RealFeel {{hourly.feels_like}}º</div>
        <div class="descript">{{hourly.weather[0].description}}</div>
        <div><i class="fas fa-tint"></i> {{ hourly.humidity}}%</div>
    </div>
</div>
