<section class="intro-container">
    <header class="intro-header">
        <h4>News & Features</h4>
        <div class="share">
        <a href="/" class="social-media">
            <i class="fab fa-facebook"></i> 
        </a>
        <a href="/" class="social-media">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="/" class="social-media">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="/" class="social-media">
            <i class="fas fa-share-square fa-rotate-270"></i>
        </a>
        </div>
    </header>   
    <div class="intro-text">
        <p>
                Read about the weather news and discover more about AccuWeather Features. 
        </p>
    </div>
</section>