:host {
  background-color: #fff;
  display: block;
  overflow: hidden;
}

.podcast-hero {
  background-image: url("https://www.accuweather.com/images/hero/podcast/home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.podcast-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.podcast-title {
  width: fit-content;
  display: block;
  font-size: 80px;
  line-height: 1.03;
  font-weight: 400;
  color: #fff;
  margin-bottom: .25em;
}

.podcast-subtitle {
  display: block;
  max-width: 400px;
  line-height: 1.6;
  font-size: 1.5em;
  color: #fff;
}

.podcast-container{
  
}

.podcast-tag {
  color:hsl(27, 100%, 50%);
  font-size: 1.3rem;
  margin: 1.5em 0;
}

.podcast-headline {
  font-size: 3.5em;
  margin: 1.5em 0;
}

.podcast-list{
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 0;
  max-width: 1320px;
}

.card{
  
}

.card-img-top{
  width: 100%;
}

.card-body{
  margin: 1em;
}
.card-text a{
  text-decoration: none;
  color: hsl(27, 100%, 50%);
}

/* tablet */
@media only screen and (max-width: 1023px) {
  .podcast-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  .podcast-title {
    font-size: 50px;
  }

  .podcast-subtitle {
    max-width: 290px;
    font-size: 1em;
  }

  .podcasts-headline {
    font-size: 2.5em;
  }

  .podcast-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
