<div class="cards-container">
  <div class="card-1">
    <div class="feature-image">
     <img src="https://imagens.publico.pt/imagens.aspx/1603505?tp=UH&db=IMAGENS&type=JPG" alt="covid em Portugal">
    </div>
    <div class="feature-text">
      <h4>COVID-19 EM PORTUGAL</h4>
      <p>Mais nove mortes e 2650 casos. Internamentos continuam a aumentar</p>
      <a href="#">
        <div class="cta-text"><span>Ler mais</span><span class="material-icons">chevron_right</span></div>
      </a>
    </div>
  </div>
  <div class="card-2">
    <div class="feature-image">
     <img src="https://imagens.publico.pt/imagens.aspx/1603385?tp=UH&db=IMAGENS&type=JPG" alt="covid em Portugal">
    </div>
    <div class="feature-text">
      <h4>OPERAÇÃO MARQUÊS</h4>
      <p>Armando Vara condenado a mais dois anos de prisão efectiva por lavagem de dinheiro</p>
      <a href="#">
        <div class="cta-text"><span>Ler mais</span><span class="material-icons">chevron_right</span></div>
      </a>
    </div>
  </div>
  <div class="card-3">
    <div class="feature-image">
     <img src="https://imagens.publico.pt/imagens.aspx/1603628?tp=UH&db=IMAGENS&type=JPG" alt="covid em Portugal">
    </div>
    <div class="feature-text">
      <h4>UNIÃO EUROPEIA</h4>
      <p>Fundo de recuperação chega “finalmente” ao terreno até ao fim do mês</p>
      <a href="#">
        <div class="cta-text"><span>Ler mais</span><span class="material-icons">chevron_right</span></div>
      </a>
    </div>
  </div>
</div>
