.card-container {
  padding: 20px 0;
}
  
.card {
  margin-top: 30px;
  display: block;
  border-radius: 5px;
  width: 100%;
  padding: 20px 20px;
  background-color: white;
  border-radius: 5px;
}
  
.card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-header--error {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.corpo {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.corpo h3 {
  margin: 0;
  font-size: 2em;
}
  
.corpo img {
  height:auto;
  width:auto;
}

.state{
  height: 70px;
  width: 70px;
}

.temp{
  font-size: 3em;
}

.sub{
  font-size: 0.5em;
}

.realfeel{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-bottom > p{
  display: flex;
  justify-content: center;
}
 
.info-container{
  display: block;
}

.detail-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding:10px;
  border-top: 1px solid whitesmoke;
  border-left: 2px solid orangered;
}
  
  