/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html, body { 
    box-sizing: border-box; 
    background-color: whitesmoke;
}
body { 
    margin: 0; 
    padding: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
    width: 100%;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}