<div class="container">
    <ul>
      
      <li class="topstories-options" *ngFor="let item of info">
        <p class="topstories-title">{{item.category}}</p>
        <ul class="topstories-links">
          <li *ngFor="let option of item.links">
            <a class="boxes" routerLink="{{option.url}}" [ngClass]="{'video': option.isVideo}" >
              <div class="text">
              <p class="category">{{option.category}}</p>
              <p class="text">{{option.label}}</p>
              <p class="time">{{option.time}} <span  [ngClass]="{'videotime': option.isVideo}">{{option.videotime}}</span></p>
              
              
              </div>
              <img src={{option.image}}>
            </a>
          </li>
          <a class="more-stories" routerLink="/">More Stories</a>
        </ul>
      </li>
    </ul>
</div>