<app-navbar></app-navbar>

<div class="container">
  <section class="highlights">
    <div class="highlight-video">
      <div class="video">
        <video src="https://www.accuweather.com/en/videos/LhgobqNF?jwsource=cl"></video>
      </div>
      <div class="infos">
        <h1>TITULO</h1>
        <p>DATA</p>
        <p>LOGOTIPOS</p>
        <p>Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Quia corporis obcaecati
          saepe nobis voluptas officiis recusandae?</p>
      </div>
    </div>
  </section>
  <app-categories></app-categories>
</div>
