:host {
  background-color: #222;
  display: block;
  overflow: hidden;
}

.highlights {
  height: 380px;
  background-color: #333 ;
}

.highlight-video{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: ;
}

.video{

}

.infos{

}
